.history/
._*
.DS_Store
*.dat
*.pdf
# 1. Ignore everything under outputs/
outputs/*

# 2. Unignore the subdirectories you want to partially include
!outputs/ndp_results/
!outputs/trees/

# 3. Now, within ndp_results, ignore large/binary patterns
outputs/ndp_results/**/*.dat
outputs/ndp_results/**/*.RData
outputs/ndp_results/**/*.txt

# 4. Within trees, ignore large/binary patterns (if needed)
outputs/trees/**/*.dat
outputs/trees/**/*.RData
outputs/trees/**/*.txt

# 5. Finally, unignore (include) the small or important files you want tracked
!outputs/ndp_results/PD51606/heatmap.tsv
!outputs/ndp_results/PD51606/muts_per_cluster.csv
!outputs/ndp_results/PD51606/clust_assign.csv
!outputs/ndp_results/PD51606/clust_assign_posthoc.csv
!outputs/ndp_results/PD51606/PD51606_ndp_assigned_snvs_and_indels.csv

!outputs/trees/PD51606/PD51606.cluster_tree_rewrite.pdf
!outputs/trees/PD51606/PD51606.edge_tbl.csv
!outputs/trees/PD51606/PD51606.cluster_tree.phylo